<meta charset="UTF-8">
<title>Document Title</title>

<link rel="stylesheet" href="/css/bootstrap.min.css">
<style>
    body {
        margin: 70px 100px;
    }
    .myOwnDiv{
        padding: 10px;
        border-radius: 10px;
    }
</style>